th,
td {
  border: 1px solid;
}

table {
  width: 100%;
  border: 3px solid;
  margin-bottom: 20px;
}

#foods {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.add-food-link {
  border: 1px solid;
  border-radius: 5px;
  height: 40px;
  background: rgb(127, 125, 255);
  text-decoration: none;
}

.delete-food-btn {
  border: none;
  outline: none;
  width: 100%;
  background-color: inherit;
  color: rgba(0, 100, 255);
  font-weight: bolder;
  cursor: pointer;
  text-decoration-line: underline;
}
